:root {
  --cor-destaque: #00a8e8ff;
  --cor-destaque-secundario: #007ea7ff;
  --cor-secundaria: #003459ff;
  --cor-fundo: #212121;
  --cor-texto: #f5f5f5;
  --cor-texto-alternativo: #addeec;
  --cor-fundo-destaque: #141414;
  --cor-fundo-destaque-claro: #292929;
}