:root {
  --cor-destaque: #00a8e8ff;              /* Azul destaque */
  --cor-destaque-secundario: #007ea7ff;   /* Azul secundário */
  --cor-secundaria: #003459ff;            /* Azul escuro */
  --cor-fundo: #212121;                   /* Fundo escuro */
  --cor-texto: #f5f5f5;                   /* Texto claro */
  --cor-texto-alternativo: #addeec;       /* Texto alternativo claro */
  --cor-fundo-destaque: #141414;          /* Fundo destaque */
}
