body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
}

.navbar-toggler {
    border-color: var(--cor-texto-alternativo);
    color: var(--cor-secundaria);
}

a {
    color: var(--cor-texto) !important;
}

.active {
    font-weight: 900;
    color: var(--cor-texto-alternativo) !important;
}

.disabled {
    opacity: 0.5 !important;
}

footer i {
    font-size: 2rem;
}

footer .downloads a>img {
    width: 200px;
}

#btnTema {
    position: absolute;
    right: 1rem;
    top: .6rem;
}

@media screen and (max-width: 1000px) {
    #btnTema {
        position: absolute;
        right: 4rem;
    }
}

#hero {
    height: 35vh;
    background: url('../img/hero.jpg') var(--cor-destaque) center bottom / contain repeat-x;
    animation: heroChange 20s 4s infinite;
    display: flex;
    justify-content: right;
    /* align-items: center; */
    padding: 1rem;
  }

#herotext {
    text-shadow: 
    2px 2px 3px #fff, 
    -2px -2px 3px #fff, 
    -2px 2px 3px #fff, 
    -2px -2px 3px #fff, 
    2px 0px 3px #fff, 
    0px 2px 3px #fff, 
    -2px 0px 3px #fff, 
    0px -2px 3px #fff;    
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    }

#nav-top{
    min-height: 3.5rem;
}
nav {
    background-color: var(--cor-fundo);
}

/* Menu hamburger Personalizado */

#nav-icon1 {
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    margin: 0.1rem auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: .15rem;
    width: 100%;
    background: var(--cor-texto);
    border-radius: .5rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0.2rem;
}

#nav-icon1 span:nth-child(2) {
    top: 0.7rem;
}

#nav-icon1 span:nth-child(3) {
    top: 1.2rem;
}

#nav-icon1.open span:nth-child(1) {
    top: .7rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -1rem;
}

#nav-icon1.open span:nth-child(3) {
    top: 0.7rem;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}