body{
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
a {
    color: var(--cor-texto)!important;
}
.active{
    font-weight: 900;
    color: var(--cor-texto-alternativo)!important;
}
.disabled {
    opacity: 0.5!important;
}
footer i {
    font-size: 2rem;
}

footer .downloads a > img {
    width: 200px;
}
